* {
    margin: 0;
    padding: 0;
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;    
}

.main-navbar{
    background-color: #f7f7f7;
    border-bottom: 2px solid black;
    padding: 2rem;
    font-size: 2rem;
}

.main-navbar > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-navbar > ul > li > a {
    font-style: italic;
    text-decoration: none;
    color:black;
    font-weight: 400;
}

.users-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.users-nav {
    background-color: #f7f7f7;
    display: flex;    
    width: 30%;
    height: 100%;
}

.users-nav > ul {
    list-style-type: none;
    margin:auto 8%;
    font-size: 2rem;
}

.users-nav > ul > li{
    margin-top: 1rem;
}

.users-nav > ul > li > a{
    text-decoration: none;
    color: black;
}

.active-user {
    background-color: #404eed;
    border-radius: 5px;
    padding: 1rem 7rem 1rem 1rem;
    color: #fff !important;
}

.user-content {
    margin: 5rem auto;
}

.user-container {
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.img-container {
    width: 30rem;
}

.img-container img {
    border-radius: 1.5rem;
    width: 100%;
}

.details-container {
    margin-left: 3rem;
    /* text-align: center; */
}

.text {
    color: #404eed;
}

.details-container > a {
    background-color: #404eed;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.form-container {
    height: 60%;
    margin: auto;
}

.form-container form {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}

.form-container span {
    display: block;
}

.form-container input {
    padding: 0.6rem;
}

.form-container select {
    width: 100%;
    padding: 0.6rem;
}

.form-container button {
    align-self: center;
    margin-top: 3%;
    width: 80%;
    padding: 0.6rem;
    background-color: #404eed;
    color: #fff;
    cursor: pointer;
}

.error {
    color: red;
}