.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.palette button {
  margin-top: 10%;
}