* {
  margin: 0;
  padding: 0;  
}

html {
  font-size: 10px;
}

/* app.js için */
.nav-container {
  background-color: #161B22;
  padding: 1.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content:center;
  border-bottom: 1px solid #fff;
}

.nav-container ul {
  /* background-color: aliceblue; */
  width: 50%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-container ul li {
  display: inline-block;
}

.nav-container ul li a{
  text-decoration: none;
  color: #fff;
}

.active {
  opacity: 0.8;
  color: #9db5d6 !important;
}
/* app.js için */

/* home.js için */
.left-nav {
  background-color: #161B22;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem;
}

.left-nav ul {
  list-style-type: none;
}

.left-nav ul li {
  margin-bottom: 1rem;
}

.left-nav ul li a{
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}
/* home.js için */

/* todos componenti için */
.todos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todos-container {
  margin-top: 5rem;
  background-color: #161B22;
  width: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0rem;
  -webkit-box-shadow: 13px 11px 16px -11px rgba(0,0,0,1);
  -moz-box-shadow: 13px 11px 16px -11px rgba(0,0,0,1);
  box-shadow: 13px 11px 16px -11px rgba(0,0,0,1);
}

.list-container {
  margin-top: 1.2rem;
}

.list-container ul {
  list-style-type: none;
}

.list-layout {  
  background-color: #fff;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  color: #161B22;
  padding: 0.8rem;
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.5s ease-in;
}

.btn-delete {
  background-color: transparent;
  margin: 0px 0px 0px auto;
  border: none;
  cursor: pointer;
}

.completed {
  opacity: 0.6;
}

.completed span {
  text-decoration: line-through;
}


.todo-input {
  padding: 1rem;
  outline: none;
}

.todos-footer {
  margin-top: 1rem;
  font-size: 1.4rem;
}
/* todos componenti için */

/* stick kısmı için */
.sticky {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  
}

.sticky-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}

.sticky-container input {
  padding: 1rem;
  outline: none;
  
}

.sticky-notes > ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

}

.sticky-notes ul li {
  width: 33%;
  
}

.note-layout {
  word-wrap: break-word;
  margin-top: 1rem;
  padding: 1rem;
  width: 80%;
  height: 7rem;
  background-color: #fff;
  color:#161B22;
  font-size: 1.2rem;
  font-weight: 600;
  text-align:start;
  -webkit-box-shadow: 13px 11px 16px -11px rgba(0,0,0,1);
  -moz-box-shadow: 13px 11px 16px -11px rgba(0,0,0,1);
  box-shadow: 13px 11px 16px -11px rgba(0,0,0,1);
}

.stick-del {
  background-color: transparent;
  border: none;
  float:right;
  display: inline-block;
  cursor: pointer;
}

/* contact part */

.users-container {
  padding: 8%;
}

.users{
  list-style-type: none;
}

.users li {
  background-color: #fff;
  margin:0.8rem 0rem ;
  padding: 8%;
  font-size: 1.3rem;
  text-align: center;
}

.btn-contact {
  display:block;
  margin: 1rem auto 0px auto;
  text-align: center;
  width: 7rem;
  background-color: #161B22;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  border-radius: 3rem;
  transition: all 0.5s ease-in;
}

.btn-contact:hover {
  opacity: 0.7;
}


/* contact part */

/* destkop */
@media only screen and (min-width:800px) {
  .app {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .left-nav{
    display: inline-block;
    text-align: center;
    height: 100vh;
    width: 20%;
    margin-right: 5%;
  }

  .todos-container {
    padding: 50%;
    margin-left: 160%;
  }

  .sticky-container input {
    position: absolute;
    width: 25%;
    margin-left: 20%;
  }

  .sticky-notes > ul {
    position: fixed;
    margin-top: 5%;
  }

  .users-container {
    padding: 3%;
    margin-left: 20%;
  }

  .users li {
    width: 60%;
    padding: 1%;
  }

}