*{
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.App {
  height: 100vh;
  background-color: #f8fafc;
}

.generator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 1rem 0rem; */
  height: 10%;
}

.generator > form {
  display: flex;
  align-items: center;
  column-gap: 2%;
}

.generator > h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-right: 2rem;
}

.colorInput {
  width: 5rem;
  height: 5rem;
  border: none;
  outline: none;
}

.textInput {
  padding: 0.6rem 0.2rem;
}

form > button {
  padding: 1rem;
  border: none;
  color: #fff;
  border-radius: 0.25rem;
  cursor: pointer;
}

.colors-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0;
  height: 90%;
}

.color-container {
  width: 12.5%;
  padding: 2rem 0rem;
}

.color-container > p {
  margin-left: 5%;
  font-size: 1.2rem;
}