*{
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs-container {
  display: flex;
  align-items: center;
  padding: 6rem 0rem 4rem 0rem;  
  column-gap: 10%;
}

.tabs-container > button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.5s ease-in all;
}

.tabs-container > button:hover {
  color: #14b8a6;
  border-bottom: 2px solid #14b8a6;
}

.active {
  color: #14b8a6;
  border-bottom: 2px solid #14b8a6 !important;
}

.context-header {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
}

span.title {
  font-size: 3.2rem;
}

span.company {
  color: #334155;
  width: 7rem;
  text-align: center;
  padding: 0.6rem;
  font-size: 1.6rem;
  background-color: #cbd5e1;
}

span.dates {
  color: #334155;
  margin-top: 1rem;
  font-size: 1.6rem;
}

.duties {
  padding: 1rem 4rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.duties > li {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding: 1rem 0rem;
  font-size: 1.6rem;
}

.icon {
  margin-right: 5rem;
  color: #14b8a6;
  font-size: 3rem !important;
}

@media screen and (min-width: 800px) {

  .App {
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
    padding: 4rem;
  }

  .tabs-container {
    flex-direction: column;
    row-gap: 2rem;
    align-items: flex-end;
    margin-left: 10%;
  }

  .context-container {
    position: absolute;
    width: 60%  !important;
  }

  .active {
    padding-left: 2rem;
    color: #14b8a6;
    border: none !important;
    border-left: 2px solid #14b8a6 !important;
  }

  .tabs-container > button {
    padding-left: 2rem;
    background-color: transparent;
    border: none;
    border-left: 2px solid transparent;    
  }

  .tabs-container > button:hover {
    padding-left: 2rem;
    color: #14b8a6;
    border-left: 2px solid #14b8a6;
    border-bottom: none !important;
  }

}
