.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.input-area {
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.input-area input[type="text"] {
  width: 25%;
  padding: 0.8rem;
  border-radius: 1rem;
  margin-right: 1%;
}

.input-area button {
  cursor: pointer;
  padding: 0.8rem;
  background-color:darkgoldenrod;
  color: #fff;
}

.notes-container ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2rem;
}

.notes-container ul li {
  background-color: antiquewhite;
  margin: 2%;
  padding: 1%;
  width: 30%;
}

.notes-container ul li button {
  display: block;
  float: right;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

