body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-main{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);  
  padding: 15px;
  background-color: #F1DEDC;
  max-width: 640px;
  min-width: 360px;
  margin-top: 20%;
}


.todo-main > h1 {
  opacity: 0.7;
  text-align: center;
  font-style: italic;
}

.input-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  
}

.input-area form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;  
}

.task-input {
  width: 70%;
  padding: 10px;
}

.task-input:focus {
  outline: none;
}

.task-input::placeholder{
  font-style: italic;
}

.input-area > button {
  cursor: pointer;
  margin-left: 1%;
  width: 25%;
  padding: 10px;
  opacity: 0.7;
  background-color: #FF858D;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);  
}

.input-area > button:hover {
  opacity: 1;
  background-color: #FF858D;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);  
}

.list{
  display: flex;
  justify-content: center;
}

.list > ul {
  list-style-type: none;
  margin: 10px 0px;
  padding: 0;
}

.list ul li {
  margin-bottom: 2px;  
  padding: 0px 40px;
}

.inside-li {
  display: flex;
  width: 640px;
  max-width:640px;
  min-width: 100px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
  /* padding: 0px 10px; */
}

.completed p {
  text-decoration: line-through;
  transition: 1s ease-in;

}

.completed {
  opacity: 0.7;
  transition: 0.5s ease-in;
}

.close-btn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color:red;
  margin: 0px 0px 0px auto;
}

.inside-li:hover .close-btn{
  display: block;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer > ul {
  list-style-type: none;
  display: flex;
}

.footer ul li {
  margin: 0px 5px;
}

.footer ul li a{
  text-decoration: none;
  color: black;
  opacity: 0.7;
}

.footer ul li a.selected {
  opacity: 1;
}

.clear-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 600;
}

.clear-btn:hover {
  border-bottom: 1px solid black;
}


