*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
}

.App{
  text-align: center;
}

.tour-cards {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  
}

.card-container{
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.116);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0rem;
  border-radius: 0.25rem;
}

.info-container {
  padding: 2rem;
}

.underline {
  width: 8rem;
  height: 0.4rem;
  background-color: #10b981;
  border-radius: 0.25rem;
  margin: 0 auto;
}

.price {
  position:absolute;
  right: 0;
  background-color: #10b981;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-size: 1.6rem;
}

.img-container img {
  width: 100%;
  height: 30rem;
  object-fit:cover;
}

.card-container > h2 {
  font-size: 1.8rem;
}

.tour-info {
  font-size: 1.4rem;
}

.delete {
  display: block;
  width: 80%;
  padding: 1rem 0;
  background-color: transparent;
  border: 1px solid #10b981;
  color: #10b981;
  cursor: pointer;
  margin: 2rem auto 0 auto;
  transition: all 0.5s ease-in;
}

.delete:hover{
  background-color: #10b981;
  color: #fff;
}

.btn-show {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #10b981;
}

.btn-refresh {
  background-color: #10b981;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  color: #fff;
}

@media screen and (min-width:900px) {
  .tour-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: center;
  }

  .card-container {
    width: 25%;
    margin: 1rem;
  }

  h1 {
    font-size: 4rem;
  }

  .card-container > h2 {
    font-size: 2.5rem;
  }

  .tour-info {
    font-size: 1.6rem;
  }
}