.container {
    width: 400px;
    background-color:aliceblue;
    margin: 0 auto;
    padding: 10px;
}

input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 5px;
}

.list{
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

.list > li {
    background-color: antiquewhite;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 3px;
}

button {
    padding: 5px;
    width: 40%;
    background-color:burlywood;
}

.total-contacts {
    font-style: italic;
}